streamlit==1.33.0
pandas==1.5.2
joblib==1.3.2
altair==5.3.0
google-api-python-client==2.125.0
wordcloud==1.9.3
matplotlib==3.6.2
scikit-learn==1.4.1.post1
beautifulsoup4==4.11.1
nltk==3.8.1
emoji==2.10.0


